extends layouts/main

block content
    p Video Detail
    .video__player
        video(src=`/${video.fileUrl}`)
    .video__info
        a(href=routes.edit_video) Edit Video
        h5.video__title=video.title
        span.video__view=video.views
        p.video__description=video.description